@use "sass:color";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Tilt+Warp&display=swap");
@import "./themes.scss";
*,
* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  &.diamant,
  &.diamant * {
    $bg-color1: #46a2b6;
    $bg-color2: #e5f9fe;

    $btn-blue: #4a65b0;
    $btn-blue2: #42c4ec;

    $btn-green: #5e9f48;
    $btn-green2: #96be38;

    $btn-red: #8e1c4f;
    $btn-red2: #d84145;

    $btn-purple: #b04aa4;
    $btn-purple2: #d89ced;

    --bg-color1: #{$bg-color1};
    --bg-color2: #{$bg-color2};

    --btn-blue: #{$btn-blue};
    --btn-blue2: #{$btn-blue2};
    --btn-blue3: #{color.adjust($btn-blue, $lightness: -20%)};
    --btn-blue4: #{color.adjust($btn-blue, $lightness: 5%)};
    --btn-blue5: #{color.adjust($btn-blue2, $lightness: 5%, $saturation: 10%)};

    --btn-green: #{$btn-green};
    --btn-green2: #{$btn-green2};
    --btn-green3: #{color.adjust($btn-green, $lightness: -20%)};
    --btn-green4: #{color.adjust($btn-green, $lightness: 5%)};
    --btn-green5: #{color.adjust($btn-green2, $lightness: 5%, $saturation: 10%)};

    --btn-red: #{$btn-red};
    --btn-red2: #{$btn-red2};
    --btn-red3: #{color.adjust($btn-red, $lightness: -20%)};
    --btn-red4: #{color.adjust($btn-red, $lightness: 5%)};
    --btn-red5: #{color.adjust($btn-red2, $lightness: 5%, $saturation: 10%)};

    --btn-purple: #{$btn-purple};
    --btn-purple2: #{$btn-purple2};
    --btn-purple3: #{color.adjust($btn-purple, $lightness: -20%)};
    --btn-purple4: #{color.adjust($btn-purple, $lightness: 5%)};
    --btn-purple5: #{color.adjust(
        $btn-purple2,
        $lightness: 5%,
        $saturation: 10%
      )};
  }
  &.skog,
  &.skog * {
    $bg-color1: #0a561b;
    $bg-color2: lightgreen;

    $btn-blue: #40a442;
    $btn-blue2: #6ce16e;

    $btn-green: #16812d;
    $btn-green2: lightgreen;

    $btn-red: #62502e;
    $btn-red2: #8f784e;

    $btn-purple: #aa4b69;
    $btn-purple2: #ce708d;

    --bg-color1: #{$bg-color1};
    --bg-color2: #{$bg-color2};
    --btn-blue: #{$btn-blue};
    --btn-blue2: #{$btn-blue2};
    --btn-blue3: #{color.adjust($btn-blue, $lightness: -20%)};
    --btn-blue4: #{color.adjust($btn-blue, $lightness: 5%)};
    --btn-blue5: #{color.adjust($btn-blue2, $lightness: 5%, $saturation: 10%)};

    --btn-green: #{$btn-green};
    --btn-green2: #{$btn-green2};
    --btn-green3: #{color.adjust($btn-green, $lightness: -20%)};
    --btn-green4: #{color.adjust($btn-green, $lightness: 5%)};
    --btn-green5: #{color.adjust($btn-green2, $lightness: 5%, $saturation: 10%)};

    --btn-red: #{$btn-red};
    --btn-red2: #{$btn-red2};
    --btn-red3: #{color.adjust($btn-red, $lightness: -20%)};
    --btn-red4: #{color.adjust($btn-red, $lightness: 5%)};
    --btn-red5: #{color.adjust($btn-red2, $lightness: 5%, $saturation: 10%)};

    --btn-purple: #{$btn-purple};
    --btn-purple2: #{$btn-purple2};
    --btn-purple3: #{color.adjust($btn-purple, $lightness: -20%)};
    --btn-purple4: #{color.adjust($btn-purple, $lightness: 5%)};
    --btn-purple5: #{color.adjust(
        $btn-purple2,
        $lightness: 5%,
        $saturation: 10%
      )};
  }
  &.katt,
  &.katt * {
    $bg-color1: #FFB800;
    ;
    $bg-color2: #FFDDE2;

    $btn-blue: #FB8B02;
    $btn-blue2: #FFB800;

    $btn-green: #5e9f48;
    $btn-green2: #96be38;

    $btn-red: #8e1c4f;
    $btn-red2: #d84145;

    $btn-purple: #FF8CC6;
    $btn-purple2: #FFDDE2;

    --bg-color1: #{$bg-color1};
    --bg-color2: #{$bg-color2};
    --btn-blue: #{$btn-blue};
    --btn-blue2: #{$btn-blue2};
    --btn-blue3: #{color.adjust($btn-blue, $lightness: -20%)};
    --btn-blue4: #{color.adjust($btn-blue, $lightness: 5%)};
    --btn-blue5: #{color.adjust($btn-blue2, $lightness: 5%, $saturation: 10%)};

    --btn-green: #{$btn-green};
    --btn-green2: #{$btn-green2};
    --btn-green3: #{color.adjust($btn-green, $lightness: -20%)};
    --btn-green4: #{color.adjust($btn-green, $lightness: 5%)};
    --btn-green5: #{color.adjust($btn-green2, $lightness: 5%, $saturation: 10%)};

    --btn-red: #{$btn-red};
    --btn-red2: #{$btn-red2};
    --btn-red3: #{color.adjust($btn-red, $lightness: -20%)};
    --btn-red4: #{color.adjust($btn-red, $lightness: 5%)};
    --btn-red5: #{color.adjust($btn-red2, $lightness: 5%, $saturation: 10%)};

    --btn-purple: #{$btn-purple};
    --btn-purple2: #{$btn-purple2};
    --btn-purple3: #{color.adjust($btn-purple, $lightness: -20%)};
    --btn-purple4: #{color.adjust($btn-purple, $lightness: 5%)};
    --btn-purple5: #{color.adjust(
        $btn-purple2,
        $lightness: 5%,
        $saturation: 10%
      )};
  }
  &.midnatt,
  &.midnatt {
    $bg-color1: hsl(266, 65%, 17%);
    $bg-color2: hsl(310, 25%, 29%);

    $btn-blue: #4a65b0;
    $btn-blue2: #42c4ec;

    $btn-green: #5e9f48;
    $btn-green2: #96be38;

    $btn-red: #8e1c4f;
    $btn-red2: #d84145;

    $btn-purple: #774ab0;
    $btn-purple2: #d89ced;

    --bg-color1: #{$bg-color1};
    --bg-color2: #{$bg-color2};
    --btn-blue: $btn-blue;
    --btn-blue2: $btn-blue2;
    --btn-blue3: color.adjust($btn-blue, $lightness: -20%);
    --btn-blue4: color.adjust($btn-blue, $lightness: 5%);
    --btn-blue5: color.adjust($btn-blue2, $lightness: 5%, $saturation: 10%);

    --btn-green: $btn-green;
    --btn-green2: $btn-green2;
    --btn-green3: color.adjust($btn-green, $lightness: -20%);
    --btn-green4: color.adjust($btn-green, $lightness: 5%);
    --btn-green5: color.adjust($btn-green2, $lightness: 5%, $saturation: 10%);

    --btn-red: $btn-red;
    --btn-red2: $btn-red2;
    --btn-red3: color.adjust($btn-red, $lightness: -20%);
    --btn-red4: color.adjust($btn-red, $lightness: 5%);
    --btn-red5: color.adjust($btn-red2, $lightness: 5%, $saturation: 10%);

    --btn-purple: $btn-purple;
    --btn-purple2: $btn-purple2;
    --btn-purple3: color.adjust($btn-purple, $lightness: -20%);
    --btn-purple4: color.adjust($btn-purple, $lightness: 5%);
    --btn-purple5: color.adjust($btn-purple2, $lightness: 5%, $saturation: 10%);
  }
  &.eld,
  &.eld * {
    $bg-color1: #b32e10;
    $bg-color2: #820303;

    $btn-blue: #dacd0e;
    $btn-blue2: #eb7405;

    $btn-green: #5e9f48;
    $btn-green2: #96be38;

    $btn-red: #dacd0e;
    $btn-red2: #d84145;

    $btn-purple: #dacd0e;
    $btn-purple2: #eb7405;

    --bg-color1: #{$bg-color1};
    --bg-color2: #{$bg-color2};

    --btn-blue: #{$btn-blue};
    --btn-blue2: #{$btn-blue2};
    --btn-blue3: #{color.adjust($btn-blue, $lightness: -20%)};
    --btn-blue4: #{color.adjust($btn-blue, $lightness: 5%)};
    --btn-blue5: #{color.adjust($btn-blue2, $lightness: 5%, $saturation: 10%)};

    --btn-green: #{$btn-green};
    --btn-green2: #{$btn-green2};
    --btn-green3: #{color.adjust($btn-green, $lightness: -20%)};
    --btn-green4: #{color.adjust($btn-green, $lightness: 5%)};
    --btn-green5: #{color.adjust($btn-green2, $lightness: 5%, $saturation: 10%)};

    --btn-red: #{$btn-red};
    --btn-red2: #{$btn-red2};
    --btn-red3: #{color.adjust($btn-red, $lightness: -20%)};
    --btn-red4: #{color.adjust($btn-red, $lightness: 5%)};
    --btn-red5: #{color.adjust($btn-red2, $lightness: 5%, $saturation: 10%)};

    --btn-purple: #{$btn-purple};
    --btn-purple2: #{$btn-purple2};
    --btn-purple3: #{color.adjust($btn-purple, $lightness: -20%)};
    --btn-purple4: #{color.adjust($btn-purple, $lightness: 5%)};
    --btn-purple5: #{color.adjust(
        $btn-purple2,
        $lightness: 5%,
        $saturation: 10%
      )};
  }
  background-image: linear-gradient(var(--bg-color1), var(--bg-color2));
}

/* .slot-btn {
  border: 0;
  outline: 0;
  color: hsla(0deg, 0, 100%, 0.8);
  top: 0;
  left: 0;
  user-select: none;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  min-height: 50px;
  min-width: 50px;
  width: fit-content;
  border-radius: 1000px;
  font-size: 20pt;
  font-family: "inter";
  font-weight: 500;
  padding: 5px 15px;
  transition: 0.1s;

  &.purple {
    $bg1: $btn-purple;
    $bg2: $btn-purple2;
    background-image: linear-gradient(10deg, $bg2, $bg1 60%);
    &::before {
      background-color: color.adjust($bg1, $lightness: -20%);
    }
    &:hover {
      $bg1: color.adjust($btn-purple, $lightness: 5%);
      $bg2: color.adjust($btn-purple2, $lightness: 5%, $saturation: 10%);
      background-image: linear-gradient(10deg, $bg2, $bg1 60%);
      box-shadow: inset 0 0 10px 0px $bg2;
    }
  }

  &.blue {
    $bg1: $btn-blue;
    $bg2: $btn-blue2;
    background-image: linear-gradient(10deg, $bg2, $bg1 60%);
    &::before {
      background-color: color.adjust($bg1, $lightness: -20%);
    }
    &:hover {
      $bg1: color.adjust($btn-blue, $lightness: 5%);
      $bg2: color.adjust($btn-blue2, $lightness: 5%, $saturation: 10%);
      background-image: linear-gradient(10deg, $bg2, $bg1 60%);
      box-shadow: inset 0 0 10px 0px $bg2;
    }
  }

  &.green {
    $bg1: $btn-green;
    $bg2: $btn-green2;
    background-image: linear-gradient(10deg, $bg2, $bg1 60%);
    &::before {
      background-color: color.adjust($bg1, $lightness: -20%);
    }
    &:hover {
      $bg1: color.adjust($btn-green, $lightness: 5%);
      $bg2: color.adjust($btn-green2, $lightness: 5%, $saturation: 10%);
      background-image: linear-gradient(10deg, $bg2, $bg1 60%);
      box-shadow: inset 0 0 10px 0px $bg2;
    }
  }

  &.red {
    $bg1: $btn-red;
    $bg2: $btn-red2;
    background-image: linear-gradient(10deg, $bg2, $bg1 60%);
    &::before {
      background-color: color.adjust($bg1, $lightness: -20%);
    }
    &:hover {
      $bg1: color.adjust($btn-red, $lightness: 5%);
      $bg2: color.adjust($btn-red2, $lightness: 5%, $saturation: 10%);
      background-image: linear-gradient(10deg, $bg2, $bg1 60%);
      box-shadow: inset 0 0 10px 0px $bg2;
    }
  }
}
.slot-btn:before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 102%;
  z-index: -1;
  top: 5px;
  left: -2px;

  border-radius: 1000px;
  transition: 0.1s;
}

.slot-btn:hover:active {
  top: 5px;
  left: -2px;
}
.slot-btn:hover:active:before {
  left: 0px;
  top: 0px;
  z-index: -1;
}
 */
