// Theme variables
$btn-one: green;
$btn-oneLight: red;

$btn-two: #5e9f48;
$btn-twoLight: #96be38;

$btn-three: #8e1c4f;
$btn-threeLight: #d84145;

$btn-four: #774ab0;
$btn-fourLight: #d89ced;

#app {
  .diamant * {
    $btn-blue: $btn-one;
    $btn-blue2: $btn-oneLight;

    $btn-green: $btn-two;
    $btn-green2: $btn-twoLight;

    $btn-red: $btn-three;
    $btn-red2: $btn-threeLight;

    $btn-purple: $btn-four;
    $btn-purple2: $btn-fourLight;
  }
}

/*  bakgrund 1 2

 typsnitt{
  färg
  font
  storlek

 }

 sekundärfärg
 */
