// Theme variables
$btn-one: green;
$btn-oneLight: red;

$btn-two: #5e9f48;
$btn-twoLight: #96be38;

$btn-three: #8e1c4f;
$btn-threeLight: #d84145;

$btn-four: #774ab0;
$btn-fourLight: #d89ced;

#app {
  .diamant * {
    --btn-one: $btn-one;
    --btn-oneLight: $btn-oneLight;

    --btn-two: $btn-two;
    --btn-twoLight: $btn-twoLight;

    --btn-three: $btn-three;
    --btn-threeLight: $btn-threeLight;

    --btn-four: $btn-four;
    --btn-fourLight: $btn-fourLight;
  }
}

/*  bakgrund 1 2

 typsnitt{
  färg
  font
  storlek

 }

 sekundärfärg
 */
