// Theme variables

$btn-one: #4a65b0;
$btn-oneLight: #42c4ec;

$btn-two: #5e9f48;
$btn-twoLight: #96be38;

$btn-three: #8e1c4f;
$btn-threeLight: #d84145;

$btn-four: #774ab0;
$btn-fourLight: #d89ced;

#app{
  .diamant{
    $btn-one: #4a65b0;
    $btn-oneLight: #42c4ec;

    $btn-two: #5e9f48;
    $btn-twoLight: #96be38;

    $btn-three: #8e1c4f;
    $btn-threeLight: #d84145;

    $btn-four: #774ab0;
    $btn-fourLight: #d89ced;

  }
}

 bakgrund 1 2

 typsnitt{
  färg
  font
  storlek

 }

 sekundärfärg
